html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F2EF;
  font-family: 'Roboto', sans-serif;
  border: 10px solid #5BA5A3;
}

.clearfix {
  clear: both;
}

.title {
  margin: 10px;
  text-align: center;
  padding-top: 10px;
}

.row {
  width: 100%;
}

.term {
  margin: 5px 2%;
}

.column {
  width: 50%;
  float: left;
}

.bullets {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.term-title {
  padding: 10px;
/*  background-color: #5BA5A3;*/ 
  text-align: center;
  letter-spacing: 2px;
  background: repeating-linear-gradient(
  45deg,
  #F3E2A9,
  #F3E2A9 10px,
  #F5ECCE 10px,
  #F5ECCE 20px
  )
}

.border {
  border: dashed 1px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) {

.border {
  border: dashed 1px #7A7A7A;
}

  .column {
    width: 100%;
  }

  body {
    border: 10px solid #F3E2A9;
  }


}
